@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Concert+One&family=Josefin+Sans&family=Rubik+Doodle+Shadow&family=Tektur:wght@400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(90deg, #ffb703, #fb8500);
    background-repeat: no-repeat;
    font-family: 'Tektur', sans-serif;
}

.navlist {
    width: -webkit-fill-available;
    background-color: #023047;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.leftdiv {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rightdiv {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.leftdiv a{
    text-decoration: none;
    color: white;
    font-family: 'Concert One''Times New Roman', Times, serif;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#search {
    width: 700px;
    padding: 10px 40px;
    border-radius: 50px;
    border: 2px solid white;
    background: #023047;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

#search::placeholder{
    color: white;
}

.rightdiv img{
    border-radius: 50%;
    border: 2px solid white;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position:relative;
    overflow: hidden;
}


.movie img{
    width:100%;
}

.movie-info{
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color:lightgreen;
}

.movie-info span.orange{
    color:orange;
}

.movie-info span.red{
    color:red;
}

.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
}

.movie:hover .overview{
    transform:translateY(0)
} 

.last{
    background-color: #023047;
    padding: 20px;
    color: #eee;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#logout{
    padding: 15px 20px;
    border: none;
    background-color: #ffb703;
    border-radius: 15px;
    font-size: 25px;
}

.message{
    font-size: 30px;
    font-weight: 400;
}