@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Concert+One&family=Josefin+Sans&family=Rubik+Doodle+Shadow&family=Tektur:wght@400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Tektur', sans-serif;
    background-image: linear-gradient(90deg, #F3EDCE, #eede81, #FFE75C, #FFE033, #FFD21F, #FFBC1F, #FFB01F, #FF9900, #F58700, #F57A00);
    opacity: 1;
}

.container {
    width: 45vw;
    height: 330px;
    margin: auto;
    margin-top: 300px;
    position: relative;
}

.box1 {
    height: 100%;
    width: 98%;
    position: relative;
    top: 0;
    left: 1%;
    animation: letter 2s 1s ease-in-out forwards;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 10px;
}

.box2 {
    height: 100%;
    width: 100%;
    background-color: #fca311;
    position: relative;
    top: -330px;
    animation: mail 2s 0.5s ease-in-out forwards;
    z-index: 2;
    box-shadow: 0px 0px 40px 5px black;
}

.box3 {
    height: 100%;
    width: 100%;
    background-color: #fca311;
    position: relative;
    top: -990px;
    clip-path: polygon(100% 100%, 0 100%, 50% 30%);
    animation: mail 2s 0.5s ease-in-out forwards;
    z-index: 0;
    box-shadow: 0px 0px 40px 5px black;
}

@keyframes letter {
    from {}

    to {
        transform: translateY(-180px);
    }
}

@keyframes mail {
    from {}

    to {
        transform: translateY(150px);
        box-shadow: 0px 10px 40px 5px black;

    }
}

@keyframes cov {
    from {

        transform: rotateY(180deg);
    }

    to {}
}

.maincontext {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    margin: 24px;
    border-right: 1px solid black;
}

.maininput {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

.maincontext img {
    filter: invert(1);
    transform: scale(1.5);
}

.welcome {
    text-align: center;
    font-size: 46px;
    font-weight: 700;
}

.welcomecontext {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}

.sigin1 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.input1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.input1 input {
    width: 150%;
    border: none;
    border-bottom: 2px solid #fca311;
    padding: 6px;
    font-size: 13px;
    font-weight: 600;
}

.input1 input:focus {
    outline: none;
}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    transform: scale(1.25);
}

.button1 button {
    background-color: #fca311;
    color: white;
    padding: 5px 15px;
    border: none;
}

.button1 button::placeholder{
    font-weight: 500;
    
}

.button1 button:hover {
    background-color: #F57A00;
}

.button1 button:focus {
    background-color: #F57A00;
    border-radius: 10px;    
}

@media (min-width: 900px) and (max-width: 1200px) {
    .container {
        width: 60vw;
    }
}

@media (min-width: 720px) and (max-width: 900px) {
    .container {
        width: 75vw;
    }
}

@media (min-width: 600px) and (max-width: 750px) {
    .container {
        width: 90vw;
    }
}

@media (min-width: 400px) and (max-width: 630px) {
    .container {
        margin: auto;
        margin-top: calc(100% /4);
        position: relative;
        width: 70vw;
        height: 500px;
    }

    .box1 {
        height: 100%;
        width: 98%;
        position: absolute;
        top: 0;
        left: 1%;
        animation: none;
        background-color: white;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px 0px black;
        border-radius: 10px;
        flex-direction: column;
    }

    .welcome {
        text-align: center;
        font-size: 46px;
        font-weight: 700;
        display: none;
    }

    .welcomecontext {
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        display: none;
    }

    .maincontext {
        width: 90%;
        display: flex;
        background-color: white;
        margin: 24px;
        border-bottom: 1px solid black;
        border-right: 0px;
    }

    .maininput {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
    }

    .box2 {
        display: none;
    }

    .box3 {
        display: none;
    }
}

@media (min-width: 100px) and (max-width: 450px) {    
    .container {
        margin: auto;
        margin-top: calc(100% /4);
        position: relative;
        width: 90vw;
        height: 500px;
    }
    .maincontext {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;
        flex-direction: column;
        background-color: white;
        padding: 10px;
        margin: 24px;
        border-bottom: 1px solid black;
        border-right: 0px;
    }

    .maininput {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
    }


    .box1 {
        height: 100%;
        width: 98%;
        position: absolute;
        top: 0;
        left: 1%;
        animation: none;
        background-color: white;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px 0px black;
        border-radius: 10px;
        flex-direction: column;
    }

    .welcome {
        display: none;
    }

    .welcomecontext {
        display: none;
    }

    .maincontext {
        width: 90%;
        display: flex;
        background-color: white;
        margin: 24px;
        border-bottom: 1px solid black;
        border-right: 0px;
    }

    .box2 {
        display: none;
    }

    .box3 {
        display: none;
    }
}